$black: #000000;
$white: #FFFFFF;

//#######################################
//## OVERRIDES ##########################
//#######################################

$default-body-text-color: $black;
$default-body-link-color: $black;

$default-selection-text-color: $white;
$default-selection-bg-color: $black;

//#######################################
//## PROJECT COLORS #####################
//#######################################
