//########################################
//## FONT VARIABLES ######################
//########################################

$font-primary: Helvetica, Arial, sans-serif;

//########################################
//## SIZES ###############################
//########################################

$browser-context: 18; // px
$browser-line-height: 18; // px