{
  "env": {
    "browser": true,
    "es6": true,
    "node": false,
    "jquery": true
  },
  "root": true,
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "quotes": 0,
    "indent": [0,"tab"],
    "func-call-spacing": 0,
    "arrow-body-style": [2, "as-needed"],
    "require-jsdoc": 0,
    "space-before-blocks": 0,
    "max-len": [1,150],
    "space-before-function-paren": ["warn", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "ignore"
    }],
    "no-undef": "warn"
  },
  "globals": {
    "jquery": false,
    "TweenMax": false,
    "is": false,
    "ScrollMagic": false
  }
}
